*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    font-size: large;
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    background-image: url(../images/bg1.jpg);
    color: rgb(255, 255, 255);
    animation: transitionIn 1.75s;
    background-size: cover;
    height: 100vh;
}

.title h1 {
    font-weight: 100px;
    margin: 10px;
}

.container{
    background: none;
}

.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 .5rem 1rem black;
    color: white;
}

.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: grey;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem black;
    margin: 10px;
    border: 1px solid  rgb(212, 27, 27) 
}
.container .music-container .box .image{
    height: 100%;
    width: 25%;
    border-radius: 1rem;
}

.container .music-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.container .music-container .box .music{
    width: 75%;
}

 .container .music-container .box .music audio{
    width: 100%;
    outline: none;
    
} 

.container .music-container .box .music audio::-webkit-media-controls-enclosure{
   
 background: none;
 color-interpolation-filters: auto;
} 




/* BACK BUTTON */
.navbar h3 {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
  }
 
  .navbar h3  a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  }
 
  .navbar h3 h3::after{ 
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: -0.5s;
 
  }

  .navbar h3:hover::after{
    width: 100%;
     }

   .price{
    padding-left: 30px;
    padding-top: 15px;
   }

   @keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateY(-10px);
    }
 }

 @media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }

    .card{
         width: 85%;
         display: flex;
         margin: 20px 0px;

    }
 }