 body {
    background-color: #000000;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
 }
 .banner{
   margin: 0;
   
  
 }
 
 .navbar{
   width: 85%;
   margin: auto;
   padding: 35px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .logo{
   width: 120px;
   cursor: pointer;
 }

 .navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 15px;
   position: relative;
 }

 .navbar ul li a{
   text-decoration: none;
   color: aliceblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: uppercase;
 }

 .navbar ul li::after{ 
   content: '';
   height: 3px;
   width: 0%;
   background: rgb(255, 255, 255);
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: -0.5s;

 }
 
 .navbar ul li:hover::after{
width: 100%;
transition-duration: 0.5s;
transition-delay: 0.1s;
 }

 .content{
   width: 99%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

button{
   width: 200px;
   padding: 20px 0;
   text-align: center;
   margin: 20px 10px;
   border-radius: 25px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: 2px solid rgb(212, 27, 27);
   cursor: pointer;
}

@keyframes transitionIn {
  from{
      opacity: 0;
      transform: rotateY(-10px);
  }
}

body {
animation: transitionIn 1.75s;
}

button {
  color: red;
  font-size: 20px
}